body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 980px;
    justify-content: space-between;
}

.left-section {
    width: 580px;
    padding-right: 32px;
    box-sizing: border-box;
}

.logo {
    width: 300px;
    margin-bottom: -10px;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.right-section {
    width: 396px;
}

.login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 20px;
    box-sizing: border-box;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
    box-sizing: border-box;
}

.login-button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
    cursor: pointer;
}

.forgot-password {
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 16px 0;
}

hr {
    border: none;
    border-top: 1px solid #dadde1;
    margin: 20px 0;
}

.create-account {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 16px;
    width: 60%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.create-page {
    color: #1c1e21;
    font-size: 14px;
    text-align: center;
    margin-top: 28px;
}

.create-page a {
    color: #1c1e21;
    font-weight: bold;
    text-decoration: none;
}
